{% extends 'layouts/base.html' %}


{%block content %}

<h1>About</h1>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sed nisi corrupti pariatur voluptas aspernatur commodi
    facilis natus, temporibus minima officiis sit velit repellendus provident! Eum quasi consequuntur distinctio quo
    earum. Minima rerum illo id nam nobis repellendus quasi deleniti quia quibusdam. Maiores ullam explicabo voluptates,
    assumenda architecto cupiditate reprehenderit corrupti est minima ducimus adipisci asperiores eius neque aliquam
    beatae magnam laborum, illum dolorem consequatur ipsum! Sed necessitatibus quo asperiores, dolorum provident
    commodi. Pariatur non optio, provident quos sed quibusdam eligendi nam hic porro sit ex iusto tempora ad, quam
    libero vel possimus, debitis iste dolores delectus? Minima, tempora a.</p>

    <p>Website create by {{username}}</p>


    
{% endblock %}

